body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
  user-select: none;
  font-family: arial, sans-serif;
}

.toolbar {
  right: 0;
  top: 42px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.container .qrcode-text, .container .qrcode-svg {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.container .qrcode-text {
  margin-top: 10px;
  border-top: solid 1px rgba(0,0,0,0.2);
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

.container .qrcode-text textarea {
  border: 0;
  color: #555;
  resize: none;
  height: 125px;
  outline: none;
  padding: 10px;
  font-size: 12px;
  margin: 1px auto;
  display: inline-block;
  background-color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
  width: calc(100% - 44px);
}

.container .qrcode-text input {
  border: 0;
  color: #555;
  width: 42px;
  float: right;
  margin: auto;
  height: 125px;
  outline: none;
  font-size: 36px;
  cursor: pointer;
  background: #fff;
  padding: 5px 10px;
  vertical-align: middle;
  font-family: arial,sans-serif;
  border-left: solid 1px rgba(0,0,0,0.2);
  transition: 300ms ease background-color;
}

.container .qrcode-text input:hover {
  background: #ececec;
}

.container .qrcode-svg {
  display: flex;
  margin-top: 42px;
  min-height: 350px;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  border-top: solid 1px rgba(0,0,0,0.2);
}

.footer {
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 28px;
  font-size: 11px;
  text-align: left;
  line-height: 28px;
  text-indent: 10px;
  position: absolute;
  font-family: monospace;
  color: rgba(39, 39, 39, 0.7);
  background-color: transparent;
}

.download {
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  overflow: hidden;
  line-height: 42px;
  text-align: center;
  position: absolute;
  background-color: transparent;
}

.download svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

html[context="popup"] .qrcode-svg {
  height: 350px;
}

html[context="app"] .qrcode-svg {
  height: 450px;
}

html[context="win"] .qrcode-svg {
  height: 450px;
}

html[context="tab"] .qrcode-svg {
  height: 550px;
}

.container .qrcode-svg svg {
  height: 100%;
}

html[context="webapp"] .toolbar {
  display: none;
}